<launch>


    <node pkg="HW2_step3" type="controller.py" name="controller" output="screen">

    </node>

    <node pkg="simple_controller" type="monitor.py" name="monitor"></node>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
        <arg name="x_pos" value="0.0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="0.0"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz"/>

</launch>