<launch>
    
    <node pkg="FinalProject_VFH" type="VFH.py" name="VFH" output="screen"></node>


    <include file="$(find turtlebot3_gazebo)/launch/custom_world.launch">
      <arg name="world_name_file" value="$(find turtlebot3_gazebo)/worlds/funky-maze.world"/>
      <arg name="x_pos" value="0.0"/>
      <arg name="y_pos" value="8.0"/>
      <arg name="z_pos" value="0.0"/>
      <arg name="yaw" value="1.57"/>
    </include> 

    
   
</launch>